{{#each posts as |post|}}
    <a href="/post/{{post.creatorId}}">
        <div>
            <h2>
                {{post.title}}
            </h2>
            <p>
                {{post.contents}}
            </p>
            <p>
                Posted by: {{post.creatorName}}
            </p>
            <p>
                Created at: {{post.createdAt}}
            </p>
            <p>
                Last updated: {{post.updatedAt}}
            </p>
        </div>
    </a>
{{/each}}